.dialog-panel-clickable {
    cursor: pointer;
}

.dialog-panel-clickable:hover {
    filter: brightness(115%);
}

.dialog-panel-silver {
    border-color: #757571;
	color: #000000;
}

.dialog-panel-silver > div {
    background-color: #D2D1CB;
    border-color: #F4F4F0;
}

/* Light blue, used for new friends panel */

.dialog-panel-light-blue {
    border-color: #000000;
	color: #FFFFFF;
}

.dialog-panel-light-blue > div {
    background-color: #5C8F9C;
    border-color: #7EC7DD;
}

/* Green, used for friends panel */

.dialog-panel-green {
    border-color: #000000;
	color: #FFFFFF;
}

.dialog-panel-green > div {
    background-color: #72893F;
    border-color: #9CBE59;
}

/* Beige, used for navigator room profile */
.dialog-panel-beige {
    border-color: #000000;
}

.dialog-panel-beige > div {
    background-color: #E9E9E1;
    border-color: #FFFFFF;
}

/* Gold, used for credits */
.dialog-panel-gold {
    border-color: #000000;
}

.dialog-panel-gold > div {
    background-color: #A58D57;
    border-color: #E3C47C;
}

/* Teal, used for diamonds */
.dialog-panel-teal {
    border-color: #000000;
}

.dialog-panel-teal > div {
    background-color: #63978C;
    border-color: #88D2C7;
}

/* Blue, used for duckets */
.dialog-panel-blue {
    border-color: #000000;
}

.dialog-panel-blue > div {
    background-color: #7C8E97;
    border-color: #AAC5D6;
}

.dialog-panel-arrow:after, .dialog-panel-arrow:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.dialog-panel-arrow:after {
	border-color: rgba(221, 221, 221, 0);
	border-right-color: #E9E9E1;
	border-width: 6px;
	margin-top: -6px;
}
.dialog-panel-arrow:before {
	border-color: rgba(0, 0, 0, 0);
	border-right-color: #000000;
	border-width: 7px;
	margin-top: -7px;
}
