@font-face {
    font-family: "Ubuntu";
    font-weight: normal;
    src: url("./../../../../assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Ubuntu Italic";
    font-weight: normal;
    font-style: italic;
    src: url("./../../../../assets/fonts/Ubuntu/Ubuntu-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Ubuntu Light";
    font-weight: lighter;
    src: url("./../../../../assets/fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Ubuntu Light Italic";
    font-weight: lighter;
    font-style: italic;
    src: url("./../../../../assets/fonts/Ubuntu/Ubuntu-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Ubuntu Medium";
    font-weight: bold;
    src: url("./../../../../assets/fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Ubuntu Medium Italic";
    font-weight: bold;
    font-style: italic;
    src: url("./../../../../assets/fonts/Ubuntu/Ubuntu-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Ubuntu Bold";
    font-weight: bolder;
    src: url("./../../../../assets/fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Ubuntu Bold Italic";
    font-weight: bolder;
    font-style: italic;
    src: url("./../../../../assets/fonts/Ubuntu/Ubuntu-BoldItalic.ttf") format("truetype");
}
