* {
    margin: 0;
}

body {
    display: flex;
}

html, body, #root {
    width: 100%;
    min-height: 100vh;
}

#root {
    display: flex;
    flex: 1;
    font-family: "Ubuntu";
    font-size: 14px;
}

b {
    font-family: "Ubuntu Bold";
}