body {
    background-image: url('./Images/bg.png');
    background-repeat: repeat;
}

:root {
    --red: #d64242;
    --blue: #2767a7;
    --light-blue: #53a5d6;
    --green: #2bb500;
    --orange: #ff6103;
}

.resize {
    width: 80%;
    max-width: 765px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 450px 1fr;
    gap: 20px;
    align-items: start;
}

.grid.first_small {
    grid-template-columns: 1.5fr 3fr;
}

.grid.first_medium {
    grid-template-columns: 1.7fr 3fr;
}

.box {
    padding: 5px;
    background-color: #FFF;
    -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: 1px solid #afafaf;

    .title {
        background-color: var(--blue);
        text-align: center;
        color: #FFF;
        border-radius: 8px;
        padding: 7px;
        margin-bottom: 10px;
        font-size: 15px;
        letter-spacing: 2px;
    }

    .title.red {
        background-color: var(--red);
    }

    .title.lightBlue {
        background-color: var(--light-blue);
    }
}