.room-user-profile-motto {
    background: transparent;

    color: white;

    font-family: "Ubuntu";
    font-size: 11px;

    outline: none;
    border: none;

    padding: 0;

    width: 0;

    flex: 1;
}