.dialog-close-button {
    width: 19px;
    height: 20px;

    cursor: pointer;

    background: url(./../../../../../assets/images/dialog_close.png);
}

.dialog-close-button:hover {
    background: url(./../../../../../assets/images/dialog_close_hover.png);
}

.dialog-close-button:active {
    background: url(./../../../../../assets/images/dialog_close_active.png);
}
