build/**/*

!build/game/
build/game/*

!build/web/
build/web/*

!build/game/index.html

node_modules/

packages/*/build/

packages/*/node_modules/
utils/*/node_modules/

assets/*/
!assets/reception/
!assets/shop/*/
assets/shop/headers/
assets/shop/teasers/
!assets/loader/

tsconfig.tsbuildinfo

*.sqlite

config.json

*.zip
