header {
    .top_content {
        width: 100%;
        background-color: #bce0ee;
        padding: 20px 0px 38px 0px;
        border-bottom: 2px solid #000;

        .resize {
            position: relative;

            .content {
                display: flex;
                position: relative;

                .logo {
                    opacity: 0.8;
                    transition-duration: 0.5s;
                }

                .logo:hover {
                    opacity: 1;
                    cursor: pointer;
                }

                .alert_message {
                    top: -20px;
                    padding: 10px;
                    right: 0;
                    position: absolute;
                    display: flex;
                    background-color: #FFF;
                    border-radius: 0 0 8px 8px;
                    width: calc(100% - 250px);
                    font-size: 12px;

                    .message span {
                        font-weight: bold;
                    }

                    .navigation {
                        display: flex;
                        margin-left: auto;

                        a {
                            color: #e7570f;
                            opacity: 0.8;
                            transition-duration: 0.5s;
                            display: block;
                            padding: 0px 10px;
                            border-right: 2px solid rgba(0, 0, 0, 0.8);
                        }

                        a:first-child {
                            padding-left: 0;
                        }

                        a:last-child {
                            padding-right: 0;
                            border-right-width: 0;
                        }

                        a:hover {
                            opacity: 1;
                            font-weight: bold;
                        }
                    }
                }

                .button {
                    .button-content {
                        padding: 5px 20px;
                    }

                    margin-top: 30px;
                    margin-left: auto;
                }
            }

            .onlines {
                position: absolute;
                top: 0px;
                right: -130px;
                background-color: #FFF;
                width: 50px;
                padding: 15px;
                border-radius: 8px;
                text-align: center;
                font-size: 12px;

                span {
                    font-weight: bold;
                }
            }

            nav {
                position: absolute;
                margin-top: 10px;
                display: flex;

                a {
                    display: block;
                    background: linear-gradient(to bottom, #408fcc 45%, #2373b2 45%);
                    padding: 5px 20px;
                    font-size: 14px;
                    margin-right: 10px;
                    border-radius: 8px 8px 0 0;
                    color: #FFF;
                    border: 2px solid #134787;
                    text-decoration: none;
                    max-height: 17px;
                    overflow: hidden;
                }

                a:hover {
                    filter: brightness(115%);
                }

                a.active {
                    background: none;
                    background-color: #FFF;
                    color: #000;
                    border-color: #000;
                    font-weight: bold;
                    border-bottom-color: #FFF;
                }

                a.active:hover {
                    text-decoration: underline;
                }

                a:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    nav.submenu {
        background-color: #FFF;
        margin-left: 2px;
        margin-right: 2px;
        border-radius: 0 0 8px 8px;
        display: flex;
        padding: 5px 0;
        -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        font-size: 13px;

        a {
            display: block;
            text-decoration: none;
            color: #2373b2;
            padding: 10px 20px;
            border-right: 1px solid rgba(0, 0, 0, 0.1);
        }

        a:last-child {
            border-right: 0;
        }

        a.active {
            color: #000;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}