.communityPage {
    .randomUsers {
        background-image: url('../../Images/community/stripepattern.gif');

        .onlines {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex: 0 0 calc(95% / 6);


            .row {
                flex: 0 0 calc(95% / 6);
                height: 110px;
                width: 64px;
                background-image: url('../../Images/community/habbo_skeleton.gif');
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                opacity: 0.9;
                transition-duration: 0.5s;

                .info {
                    display: none;
                    position: absolute;
                    width: 150px;
                    left: -55px;
                    bottom: 110px;
                    padding: 10px;
                    z-index: 1;
                    background-color: #FFF;
                    -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .2);
                    box-shadow: 0 2px 0 1px #0003;
                    text-align: center;
                    border-radius: 8px;
                    border: 1px solid #afafaf;

                    .username {
                        font-weight: bold;
                    }

                    .motto {
                        opacity: 0.7;
                    }
                }

                .info:after,
                .info:before {
                    top: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: "";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }

                .info:after {
                    border-color: rgba(255, 255, 255, 0);
                    border-top-color: #fff;
                    border-width: 10px;
                    margin-left: -10px;
                }

                .info:before {
                    border-color: rgba(NaN, 250, 250, 0);
                    border-top-color: rgba(0, 0, 0, 0.2);
                    border-width: 14px;
                    margin-left: -14px;
                }
            }

            .row:hover {
                cursor: pointer;
                opacity: 1;
            }

            .row:hover > .info {
                display: block;
                cursor: pointer;
            }

            .row:nth-child(1),
            .row:nth-child(13) {
                margin-left: 20px;
            }

            .row:nth-child(7) {
                margin-left: -40px;
            }

            .row:nth-child(n+7):nth-child(-n+18) {
                margin-top: -60px;
            }

            .row:last-child {
                margin-bottom: 30px;
            }
        }
    }
}