.wired-slider {
  width: 100%;


  position: relative;
}

.wired-slider input {
  -webkit-appearance: none; 
  appearance: none;

  width: 100%;
  height: 2px;

  background: none;
  
  outline: none;
}

.wired-slider input::-webkit-slider-thumb,
.wired-slider input::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  
  width: 10px;
  height: 16px;

  background: #E8E2C8;

  border: 1px solid #000000;
  border-radius: 3px;

  margin-left: -2px;
  margin-top: -3px;
  
  cursor: pointer;
}
