.button {
    font-size: 13px;

    cursor: pointer;

    user-select: none;

    text-align: center;
}

.button:hover {
    filter: brightness(115%);
}

.button:active {
    filter: brightness(80%);

    transform: translate(1px, 1px);

    box-shadow: none;
}

.button-large {
    min-width: 280px;

    border: 1px solid #26464C;
    border-radius: 5px;

    font-size: 28px;
    font-family: "Ubuntu Medium";
    line-height: 1.3;
}

.button-content {
    border: 2px solid #437A86;
    border-radius: 3px;

    background: linear-gradient(to bottom, #4A9FB4 45%, #437A86 45%);
    box-shadow: 3px 3px rgba(0, 0, 0, .25);

    padding: 2px 12px;
}

.button-large .button-content {
    background: linear-gradient(to bottom, #4A9FB4 50%, #437A86 50%);

    border-width: 4px;
    border-radius: 5px;

    padding: 16px 12px;
}

.button-large.button-orange {
    border-color: #5F4416;
}

.button-orange .button-content {
    border-color: #C78800;
    background: linear-gradient(to bottom, #F0BB00 45%, #C78800 45%);
}

.button-large.button-orange .button-content {
    border-color: #C78800;
    background: linear-gradient(to bottom, #F0BB00 50%, #C78800 50%);
}
