.playground {
    .noteWidget {
        .widgetContent {
            .note {
                min-width: 150px;
                max-width: 300px;
                max-height: 300px;
                overflow-y: auto;
                white-space: pre-line;
                word-break: break-all;
                font-family: 'Ubuntu-C';
            }

            .note::-webkit-scrollbar {
                width: 7px;
            }

            .note::-webkit-scrollbar-track {
                background: rgba(0, 0, 0, 0.2);
            }

            .note::-webkit-scrollbar-thumb {
                background: rgba(0, 0, 0, 0.3);
            }

            .note::-webkit-scrollbar-thumb:hover {
                background: rgba(0, 0, 0, 0.5);
            }
        }
    }

    .noteWidget.skin.none .widgetContent .note {
        min-width: 0;
    }
}