.dialog-button {
    border: 1px solid black;
    border-bottom-width: 2px;
    border-radius: 5px;

    height: 24px;

    overflow: hidden;

    cursor: pointer;

    display: flex;
}

.dialog-button-content {
    flex: 1;

    background: linear-gradient(to bottom, #F3F3F3 50%, #D9D9D9 50%);
    border: 1px solid #D9D9D9;

    box-sizing: border-box;

    padding: 0 12px;

    display: flex;

    justify-content: center;
    align-items: center;
}

.dialog-button:hover .dialog-button-content {
    background: linear-gradient(to bottom, #FFFFFF 50%, #EEEEEE 50%);
    border-color: #FFFFFF;
    border-width: 2px;
}

.dialog-button:active .dialog-button-content {
    background: linear-gradient(to bottom, #E1E1E1 50%, #A3A3A3 50%);
    border-color: #A3A3A3;
    border-width: 1px;
}
