html, body {
  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;
}

body {
  font-family: "Ubuntu";
  font-size: 16px;

  background-color: black;

  display: flex;

  user-select: none;
}

b {
  font-family: "Ubuntu Bold";
  font-weight: 400;
}

#client {
  flex: 1;

  position: relative;;

  .renderer {
    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
  }
}

.debug {
  position: fixed;

  left: 100px;
  top: 100px;

  background-color: green;
}

.debug-room-furniture {
  position: fixed;

  top: 100px;
  right: 100px;

  color: white;
}

::-webkit-scrollbar {
  display: none;
}
